# Packages in Pipfile not in requirements_no_versions.txt
# that are compatible with Django 4.2 and Python 3.12

backcall
bleach
cffi
chardet
curtsies
decorator
django-compat
django-debug-toolbar-template-timings
entrypoints
flake8-formatter-junit-xml
idna
ipython-genutils
itsdangerous
jedi
mccabe
msgpack-python
multidict
mypy-extensions
parso
pexpect
pickleshare
prompt-toolkit
psycopg2cffi
ptyprocess
pyasn1
pyasn1-modules
pycodestyle
pycparser
pyflakes
pygments
pyhamcrest
ruamel.yaml==0.16.13
ruamel.yaml.clib
service-identity
soupsieve
sqlparse
tblib
traitlets
typed-ast
typing-extensions
urllib3==1.26.18
watchdog-gevent
wcwidth
webencodings
yarl
zope.interface